@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

:root {
  --white: #fff;
  --primary: #009ca9;
  --secondary: #00b3ff;
  --red: #ff0000;
  --light-red: #ff4d4d;
  --gray: #545454;
  --gray-2: #656565;
  --gray-3: #c5c5c5;
  --gray-4: #f8f9fa;
  --black: #000000;
  --placeholder: #495057;
  --light-black: #606366;
  --green: #0eec2f;
  --orange: #ffa12b;
  --yellow: #f4e409;
  --light-gray: #f3f3f3;
  --light-gray-2: #d4d4d4;
  --background: #f7f9fc;
  --dark-gray: #3e5259;
  --light-blue: #e4f3f3;
  --light-pink: rgb(251, 236, 236);
  --dark-pink: #bf1650;
  --font-IBM: 'IBM Plex Sans', sans-serif;
  --light-White: rgba(255, 255, 255, 0.7);
  --gradient-primary: rgba(0, 156, 169, 0.7);
  --gradient-2: rgba(0, 156, 169, 0.75) rgba(0, 156, 169, 1);
}

body {
  font-family: 'IBMPlexSans';
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

input {
  outline: none;
  border: none;
  font-family: var(--font-Regular);
}

/* Input type number remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button[disabled] {
  cursor: not-allowed;
}
.text-oneline,
.text-threeline,
.text-foreline,
.text-sixline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
}

.text-oneline {
  -webkit-line-clamp: 1;
}
.text-threeline {
  -webkit-line-clamp: 3;
}
.text-foreline {
  -webkit-line-clamp: 4;
}
.text-sixline {
  -webkit-line-clamp: 6;
}

.navbarSticky {
  position: fixed;
  animation: stickyNavbar 0.9s;
  top: 0;
  background-color: var(--white);
  box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--light-gray-2);
}

@keyframes stickyNavbar {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

.sidebarMain {
  background-color: var(--background);
  position: absolute;
  width: calc(100% - 280px);
  height: 100%;
  left: 280px;
  transition: width 0.5s;
  overflow: hidden;
}

/* multi-select */
.multi-select {
  width: 100%;
}
.multi-select .ant-select-selector {
  border: 1px solid var(--gray-3) !important;
}
.multi-select-error .ant-select-selector {
  border-width: 1px 8px 1px 1px !important;
  border-style: solid !important;
  border-color: rgb(219, 18, 88) rgb(191, 22, 80) rgb(191, 22, 80) rgb(236, 89, 144) !important ;
  background: rgb(251, 236, 236) !important;
  transition: 200ms;
}

.ant-spin-dot-item {
  background-color: white !important;
}

/* ant-Input floatInputAntd */
.floatInputAntd {
  padding: 14px 12px 2px 11px !important;
}

/* floatInputAntd-error */

.floatInputAntd-error {
  width: 100%;
  border-width: 1px 10px 1px 1px !important;
  border-radius: 8px;
  border-style: solid !important;
  border-color: rgb(219, 18, 88) rgb(191, 22, 80) rgb(191, 22, 80) rgb(236, 89, 144) !important ;
  background: rgb(251, 236, 236) !important;
}

.ant-table-column-sorter-inner {
  color: #fff;
}

/*  jodit-react textEditor */
.jodit-react-container .jodit-workplace {
  min-height: 500px !important;
}

.ant-upload-list {
  width: 100%;
}
